/* style sheet for simple website */

html {
    margin: 0px;
    padding: 0px;
}

body {
    overflow-x: hidden;
    background-color: rgba(239, 150, 54, 0.21);
    width: 960px;
    margin: auto;
    background: fixed;
    scroll-behavior: smooth;
}

.main-container {
    position: relative;
    top: -40px;
}

header {
    margin-top: 0%;
    padding: 0%;
    top: 0%;
}

header>.heading {
    background-color: #432616;
    color: #fefdfb;
    font-size: 26px;
    text-align: center;
    width: 100%;
    height: 65px;
}

.hero-img>img {
    margin-top: 55px;
    height: 600px;
    width: 85%;
    border: 15px solid rgba(70, 66, 66, 0.364);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.hero-img>img:hover {
    border: 20px solid #fafafa;
}

.img-heading {
    position: absolute;
    top: 250px;
    left: 150px;
    width: 350px;
    height: 350px;
    background-color: rgba(128, 128, 128, 0.21);
    color: #fafafa;
    justify-content: left;
}

.img-heading>h2 {
    font-size: 50px;
}

.img-heading>p {
    font-size: 20px;
}

.grid-images {
    display: grid;
    margin: 60px;
    padding: 10px;
    gap: 8px;
    grid-auto-rows: 300px;
    grid-auto-columns: 500px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    position: relative;
}

.grid-images:hover {
    background-color: white;
}

.grid-images>img {
    width: 100%;
    height: 100%;
    border: 2px solid black;
    transition: all 0.2s ease-in-out;
    opacity: 0.5;
}

.grid-images>img:hover {
    transform: scale(1.05);
    opacity: 1.0;
}

.pic1 {
    grid-column: 1/4;
    grid-row: 1;
}

.pic2 {
    grid-column: 4/6;
    grid-row: 1;
}

.pic3 {
    grid-column: 1/2;
    grid-row: 2/4;
}

.pic4 {
    grid-column: 2/6;
    grid-row: 2/4;
}

.pic5 {
    grid-column: 1/4;
    grid-row: 4/5;
}

.pic6 {
    grid-column: 4/6;
    grid-row: 4/5;
}

footer:hover {
    background-color: rgba(210, 180, 140, 0.5);
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.about,
.contact,
.connect {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
}

.psuedo {
    border-bottom: 2px solid black;
    position: relative;
    bottom: 215px;
    z-index: 2;
}